<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<display-name>SL-314 WebApp Example</display-name>
	<description>
    This Web Application demonstrates a single View servlet (T2).
                         demonstrates a Controller servlet (T3).
                         demonstrates the configuration of a servlet (T4).
                         demonstrates using the context-scope to store
    a common resource: the "leagueList" for the Soccer League webapp (T5).
  </description>

	<!-- Inicio Tema 5 -->
	<context-param>
		<param-name>leagues-file</param-name>
		<param-value>/WEB-INF/data/leagues.txt</param-value>
	</context-param>

	<listener>
		<listener-class>sl314.web.InitializeLeagues</listener-class>
	</listener>
	
	<!-- Fin Tema 5 -->

	<servlet>
		<servlet-name>ListLeagues</servlet-name>
		<servlet-class>sl314.view.ListLeaguesServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AddLeagueForm</servlet-name>
		<servlet-class>sl314.view.AddLeagueFormServlet</servlet-class>
		<init-param>
			<param-name>seasons-list</param-name>
			<param-value>Spring,Summer,Autumn,Winter</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>AddLeague</servlet-name>
		<servlet-class>sl314.controller.AddLeagueServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Success</servlet-name>
		<servlet-class>sl314.view.SuccessServlet</servlet-class>
	</servlet>

	<!-- <servlet> <servlet-name>ErrorPage</servlet-name> <servlet-class>sl314.view.ErrorPageServlet</servlet-class> 
		</servlet> ( *** Tema 3 *** ) -->

	<servlet-mapping>
		<servlet-name>ListLeagues</servlet-name>
		<url-pattern>/list_leagues.view</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AddLeagueForm</servlet-name>
		<url-pattern>/admin/add_league.view</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AddLeague</servlet-name>
		<url-pattern>/admin/add_league.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Success</servlet-name>
		<url-pattern>/admin/success.view</url-pattern>
	</servlet-mapping>

	<!-- <servlet-mapping> <servlet-name>ErrorPage</servlet-name> <url-pattern>/admin/error_page.view</url-pattern> 
		</servlet-mapping> ( *** Tema 3 *** ) -->

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>